* {
  margin: 0;
  padding: 0;
}

#titulo {
  font-family: sans-serif;
  color: black;
  margin-left: 7%;
}

#subtitulo {
  font-family: sans-serif;
  color: black;
  margin-left: 10%;
  padding: 1%;
}

fieldset {
  border: 0;
}

body {
  background-image: url(https://as1.ftcdn.net/v2/jpg/01/64/73/12/1000_F_164731249_MVJCn6Z6kPdBTZAIqCVSjArqUvo8yFKA.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  font-family: sans-serif;
  font-size: 1em;
  color: black;
  margin-left: 36%;
  margin-top: 2%;
  justify-content: center;
}

input,
select,
textarea,
button {
  border-radius: 5px;
}

.campo {
  margin-bottom: 1em;
}

.campo label {
  margin-bottom: 0.2em;
  color: black;
  display: block;
}

fieldset.grupo .campo {
  float: left;
  margin-right: 1em;
}

.campo input[type='text'],
.campo input[type='email'],
.campo select,
.campo textarea {
  padding: 0.2em;
  border: 1px solid black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
}

.campo select option {
  padding-right: 1em;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
  background: gainsboro;
}

.botao {
  font-size: 1.2em;
  background: black;
  border: 0;
  margin-bottom: 1em;
  color: #ffffff;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.botao:hover {
  background: gray;
  box-shadow: inset 2px 2px 2px gray;
  text-shadow: none;
}

.botao,
select {
  cursor: pointer;
}

#check {
  display: inline-block;
}
